.App {
  text-align: center;
}

.faceimg {
  max-width:100%;
  max-height:100%;
}

.image-container {
  position: absolute;
}

.subface {
}

.personimg {
  max-width:100%;
  max-height:100%;
}

.personimg-container {
  background-color: #999;
    width: 400px;
    height: 380px;
    display: inline-block;
    overflow: hidden;
}

.left {
  text-align: left;
}